*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
/* body{
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 90, 50);
    border: 2px solid white;
    border-radius: 10px;

}
button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95;
} */

/* body{
    background-color: black;
}

button{
    padding-left: 5px;
    background-color: aqua;
} */


/* body{
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    padding: 10px 20px;
    background-color: crimson;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    z-index: 8;
}
button:active{
    scale:0.95;
} */
