*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
/* body{
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 90, 50);
    border: 2px solid white;
    border-radius: 10px;

}
button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95;
} */

/* --------------------------------------------------------- */



/* body{
    background-color: black;
}

button{
    padding-left: 5px;
    background-color: aqua;
} */


/* body{
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    padding: 10px 20px;
    background-color: crimson;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    z-index: 8;
}
button:active{
    scale:0.95;
} 
*/


/* --------------------------------------------------------------- */

/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
}
button{
    padding: 10px 20px;
    background-color: crimson;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    z-index: 8;
}
button:active{
    scale:0.95;
} */

/* ----------------------------------------------------------- */

/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 182px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card h2{
    font-size: 22px;
    color: black;
    text-align: center;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    opacity: 0;
    background-image: url(https://imgs.search.brave.com/x2cexXiPB73afIZlhMunKsx5lFNya_N0NYQ01s2lK-8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTI0/OTcwMjkxNy92ZWN0/b3Ivc21vb3RoLWJs/dXJyZWQtZ3JhZGll/bnQtaW5zdGEtYmFj/a2dyb3VuZC13YWxs/cGFwZXItc3R5bGUt/c2NhbGFibGUtdmVj/dG9yLW1lc2gtYnJp/Z2h0LmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz0ydHo5cDFG/azF4RXM1MXBTUlVx/dFpUQ1Qzb3RxaXRa/MXhCT1RZUndQTzlR/PQ);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
} */


/* ------------------------------------------------------------- */


main{
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    height: 340px;
    width: 280px;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card h3{
    font-size: 26px;
    white-space: nowrap; /*this property is responsible for not letting our text go to another line */
    color: steelblue;
}
.card h4{
    font-size: 18px;
    color: maroon;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card p{
    color: black;
    font-size: 14px;
}