body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
}

.piano {
    position: relative;
    display: flex;
}

.white-key {
    width: 60px;
    height: 220px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0 0 6px 6px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    font-weight: 500;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.black-key {
    position: absolute;
    width: 40px;
    height: 140px;
    background: black;
    color: white;
    font-size: 12px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    padding-top: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.4);
    z-index: 2;
}

.black-key:active,
.black-key.active {
    transform: translateY(6px);
    box-shadow: 0 2px 0 #222;
    background: #222;
}

.white-key:active,
.white-key.active {
    transform: translateY(6px);
    box-shadow: 0 2px 0 #222;
    background: #d7d3d3;
}
